body {
  background-color: bisque;
}

h1 {
  text-align: center;
  color: blue;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.navigation-links {
  display: flex;
  justify-content: space-evenly;
}

p {
  text-align: center;
  color: brown;
}
